<footer class="footer">
  <p>© 2026 SSD Beats</p>

  <div class="socials">
    <a href="#">Facebook</a>
    <a href="#">Instagram</a>
    <a href="#">TikTok</a>
    <a href="#">YouTube</a>
    <a href="#">Telegram</a>
  </div>
</footer>